// 背景
$color-background-primary: #800dd8f7;
$color-background-secondary: #00f389f7;
$color-background-regular: #67c23a;
$color-background-gray: #ccc;

// 大小
$size-font-primary: 25px;

// 颜色
$color-white: #fff;

// 文字
$color-text-red: red;
$color-text-shallow-white: #f3f3f3;

// border
$color-border-primary: #000;
